// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sat Nov  1 23:27:15 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/dispmux.sv"
// file 1 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/dualsevseg.sv"
// file 2 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/keypadfsm.sv"
// file 3 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/segdisp.sv"
// file 4 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/sync.sv"
// file 5 "c:/users/rdesantos/documents/github/e155/lab3/fpga/attempt2/lab3/source/impl_1/top.sv"
// file 6 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 7 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 26 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 40 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 57 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input Reset, input [3:0]Rows, output [3:0]Cols, output [6:0]Seg, 
            output En1, output En2, output debug);
    
    wire VCC_net;
    wire Reset_c;
    wire Rows_c_3;
    wire Rows_c_2;
    wire Rows_c_1;
    wire Rows_c_0;
    wire Cols_c_3;
    wire Cols_c_2;
    wire Cols_c_1;
    wire Cols_c_0;
    wire En2_c_N_42;
    wire En2_c;
    wire debug_c;
    (* is_clock=1, lineinfo="@5(9[14],9[20])" *) wire IntOsc;
    wire Reset_c_N_45;
    wire GND_net;
    
    wire n434;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(IntOsc));
    defparam hf_osc.CLKHF_DIV = "0b11";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A))", lineinfo="@5(17[22],17[28])" *) LUT4 Reset_c_I_0_1_lut (.A(Reset_c), 
            .Z(Reset_c_N_45));
    defparam Reset_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@5(3[21],3[25])" *) IB \Rows_pad[0]  (.I(Rows[0]), .O(Rows_c_0));
    (* lineinfo="@5(3[21],3[25])" *) IB \Rows_pad[1]  (.I(Rows[1]), .O(Rows_c_1));
    (* lineinfo="@5(3[21],3[25])" *) IB \Rows_pad[2]  (.I(Rows[2]), .O(Rows_c_2));
    (* lineinfo="@5(3[21],3[25])" *) IB \Rows_pad[3]  (.I(Rows[3]), .O(Rows_c_3));
    (* lineinfo="@5(2[21],2[26])" *) IB Reset_pad (.I(Reset), .O(Reset_c));
    (* lineinfo="@5(6[31],6[36])" *) OB debug_pad (.I(debug_c), .O(debug));
    (* lineinfo="@5(6[26],6[29])" *) OB En2_pad (.I(En2_c), .O(En2));
    (* lineinfo="@5(6[21],6[24])" *) OB En1_pad (.I(En2_c_N_42), .O(En1));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[0]  (.I(VCC_net), .O(Seg[0]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[1]  (.I(GND_net), .O(Seg[1]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[2]  (.I(GND_net), .O(Seg[2]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[3]  (.I(GND_net), .O(Seg[3]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[4]  (.I(GND_net), .O(Seg[4]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[5]  (.I(GND_net), .O(Seg[5]));
    (* lineinfo="@5(5[21],5[24])" *) OB \Seg_pad[6]  (.I(GND_net), .O(Seg[6]));
    (* lineinfo="@5(4[21],4[25])" *) OB \Cols_pad[0]  (.I(Cols_c_0), .O(Cols[0]));
    (* lineinfo="@5(4[21],4[25])" *) OB \Cols_pad[1]  (.I(Cols_c_1), .O(Cols[1]));
    (* lineinfo="@5(4[21],4[25])" *) OB \Cols_pad[2]  (.I(Cols_c_2), .O(Cols[2]));
    (* lineinfo="@5(4[21],4[25])" *) OB \Cols_pad[3]  (.I(Cols_c_3), .O(Cols[3]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=65, LSE_LLINE=23, LSE_RLINE=23, lineinfo="@5(23[12],23[65])" *) KeypadFSM keypad1 (n434, 
            debug_c, IntOsc, Reset_c_N_45, Cols_c_2, Cols_c_1, Cols_c_0, 
            Cols_c_3);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=8, LSE_RCOL=42, LSE_LLINE=17, LSE_RLINE=17, lineinfo="@5(17[8],17[42])" *) Sync sync1 (Rows_c_0, 
            IntOsc, Reset_c_N_45, n434, Rows_c_3, Rows_c_2, Rows_c_1);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=62, LSE_LLINE=20, LSE_RLINE=20, lineinfo="@5(20[14],20[62])" *) DualSevSeg DSevSeg (En2_c, 
            En2_c_N_42, IntOsc, Reset_c);
    
endmodule

//
// Verilog Description of module KeypadFSM
//

module KeypadFSM (input n434, output debug_c, input IntOsc, input Reset_c_N_45, 
            output Cols_c_2, output Cols_c_1, output Cols_c_0, output Cols_c_3);
    
    wire [17:0]count;
    (* is_clock=1, lineinfo="@5(9[14],9[20])" *) wire IntOsc;
    wire [7:0]n77;
    
    wire debug_c_N_44, n436, n4, n388, n767, n92, n392;
    wire [7:0]n37;
    wire [7:0]count_7__N_5;
    wire [3:0]n251;
    
    wire n197, n91, n93, n645, n1112, GND_net, n643, n1109, 
        n3, n2, n1100, VCC_net, n8, n639, n641, n1106, n5, 
        n4_adj_47, n6, n7, n1103;
    
    (* lut_function="(!(A (B+!(C+(D)))+!A (B+!(C))))", lineinfo="@2(108[34],108[43])" *) LUT4 i1_4_lut_4_lut (.A(count[7]), 
            .B(n434), .C(n77[3]), .D(n77[4]), .Z(debug_c_N_44));
    defparam i1_4_lut_4_lut.INIT = "0x3230";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(debug_c), 
            .B(n436), .C(n434), .D(n4), .Z(n388));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C))+!A (C))", lineinfo="@2(108[34],108[43])" *) LUT4 i1_2_lut_3_lut (.A(count[7]), 
            .B(n434), .C(n77[4]), .Z(n436));
    defparam i1_2_lut_3_lut.INIT = "0xd0d0";
    (* lut_function="(!(A ((C)+!B)+!A (B (C)+!B ((D)+!C))))" *) LUT4 i12_4_lut (.A(n77[1]), 
            .B(n77[3]), .C(n434), .D(n77[2]), .Z(n767));
    defparam i12_4_lut.INIT = "0x0c1c";
    (* lineinfo="@2(53[9],175[16])" *) FD1P3XZ State_FSM_i2 (.D(n91), .SP(VCC_net), 
            .CK(IntOsc), .SR(Reset_c_N_45), .Q(n77[1]));
    defparam State_FSM_i2.REGSET = "RESET";
    defparam State_FSM_i2.SRMODE = "ASYNC";
    (* lut_function="(!(A+!(B (D)+!B !((D)+!C))))", lineinfo="@2(53[9],175[16])" *) LUT4 i1_4_lut_adj_2 (.A(n77[3]), 
            .B(n77[2]), .C(n77[1]), .D(n434), .Z(n392));
    defparam i1_4_lut_adj_2.INIT = "0x4410";
    (* lut_function="(A+(B+(C)))", lineinfo="@2(53[9],175[16])" *) LUT4 i1_2_lut_3_lut_adj_3 (.A(n77[2]), 
            .B(n77[3]), .C(n77[1]), .Z(n4));
    defparam i1_2_lut_3_lut_adj_3.INIT = "0xfefe";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(n436), .B(n37[0]), .Z(count_7__N_5[0]));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C)+!B !(C))+!A (B (C)))", lineinfo="@2(53[9],175[16])" *) LUT4 i1_3_lut_3_lut (.A(n77[2]), 
            .B(n77[3]), .C(n434), .Z(n251[0]));
    defparam i1_3_lut_3_lut.INIT = "0xc2c2";
    (* lut_function="(!(A))", lineinfo="@2(53[9],175[16])" *) LUT4 i88_1_lut (.A(n77[4]), 
            .Z(n197));
    defparam i88_1_lut.INIT = "0x5555";
    (* lineinfo="@2(53[9],175[16])" *) FD1P3XZ State_FSM_i4 (.D(n93), .SP(VCC_net), 
            .CK(IntOsc), .SR(Reset_c_N_45), .Q(n77[3]));
    defparam State_FSM_i4.REGSET = "RESET";
    defparam State_FSM_i4.SRMODE = "ASYNC";
    (* lut_function="(!(A+(B+!(C (D)+!C !(D)))))", lineinfo="@2(53[9],175[16])" *) LUT4 i354_3_lut_4_lut (.A(n77[2]), 
            .B(n77[3]), .C(n77[1]), .D(n434), .Z(n251[2]));
    defparam i354_3_lut_4_lut.INIT = "0x1001";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_4 (.A(n436), .B(n37[1]), 
            .Z(count_7__N_5[1]));
    defparam i1_2_lut_adj_4.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_5 (.A(n434), .B(n77[2]), 
            .Z(n93));
    defparam i1_2_lut_adj_5.INIT = "0x4444";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_6 (.A(n436), .B(n37[2]), 
            .Z(count_7__N_5[2]));
    defparam i1_2_lut_adj_6.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_7 (.A(n436), .B(n37[3]), 
            .Z(count_7__N_5[3]));
    defparam i1_2_lut_adj_7.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_8 (.A(n436), .B(n37[4]), 
            .Z(count_7__N_5[4]));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_9 (.A(n436), .B(n37[5]), 
            .Z(count_7__N_5[5]));
    defparam i1_2_lut_adj_9.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_10 (.A(n436), .B(n37[6]), 
            .Z(count_7__N_5[6]));
    defparam i1_2_lut_adj_10.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_11 (.A(n436), .B(n37[7]), 
            .Z(count_7__N_5[7]));
    defparam i1_2_lut_adj_11.INIT = "0x8888";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i1 (.D(count_7__N_5[0]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n8));
    defparam count_120_127__i1.REGSET = "RESET";
    defparam count_120_127__i1.SRMODE = "ASYNC";
    (* lineinfo="@2(108[34],108[43])" *) FA2 count_120_127_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n645), .CI0(n645), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n1112), .CI1(n1112), .CO0(n1112), 
            .S0(n37[7]));
    defparam count_120_127_add_4_9.INIT0 = "0xc33c";
    defparam count_120_127_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(108[34],108[43])" *) FA2 count_120_127_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n3), .D0(n643), .CI0(n643), .A1(GND_net), 
            .B1(GND_net), .C1(n2), .D1(n1109), .CI1(n1109), .CO0(n1109), 
            .CO1(n645), .S0(n37[5]), .S1(n37[6]));
    defparam count_120_127_add_4_7.INIT0 = "0xc33c";
    defparam count_120_127_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@2(108[34],108[43])" *) FA2 count_120_127_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n8), .D1(n1100), .CI1(n1100), .CO0(n1100), .CO1(n639), 
            .S1(n37[0]));
    defparam count_120_127_add_4_1.INIT0 = "0xc33c";
    defparam count_120_127_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@2(53[9],175[16])" *) FD1P3XZ State_FSM_i1 (.D(debug_c_N_44), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(debug_c));
    defparam State_FSM_i1.REGSET = "SET";
    defparam State_FSM_i1.SRMODE = "ASYNC";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_12 (.A(n434), .B(debug_c), 
            .Z(n91));
    defparam i1_2_lut_adj_12.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_13 (.A(n434), .B(n77[1]), 
            .Z(n92));
    defparam i1_2_lut_adj_13.INIT = "0x4444";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i8 (.D(count_7__N_5[7]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(count[7]));
    defparam count_120_127__i8.REGSET = "RESET";
    defparam count_120_127__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i7 (.D(count_7__N_5[6]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n2));
    defparam count_120_127__i7.REGSET = "RESET";
    defparam count_120_127__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i6 (.D(count_7__N_5[5]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n3));
    defparam count_120_127__i6.REGSET = "RESET";
    defparam count_120_127__i6.SRMODE = "ASYNC";
    (* lineinfo="@2(108[34],108[43])" *) FA2 count_120_127_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n5), .D0(n641), .CI0(n641), .A1(GND_net), 
            .B1(GND_net), .C1(n4_adj_47), .D1(n1106), .CI1(n1106), .CO0(n1106), 
            .CO1(n643), .S0(n37[3]), .S1(n37[4]));
    defparam count_120_127_add_4_5.INIT0 = "0xc33c";
    defparam count_120_127_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i5 (.D(count_7__N_5[4]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n4_adj_47));
    defparam count_120_127__i5.REGSET = "RESET";
    defparam count_120_127__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i4 (.D(count_7__N_5[3]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n5));
    defparam count_120_127__i4.REGSET = "RESET";
    defparam count_120_127__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i3 (.D(count_7__N_5[2]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n6));
    defparam count_120_127__i3.REGSET = "RESET";
    defparam count_120_127__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@2(108[34],108[43])" *) FD1P3XZ count_120_127__i2 (.D(count_7__N_5[1]), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(n7));
    defparam count_120_127__i2.REGSET = "RESET";
    defparam count_120_127__i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=65, LSE_LLINE=23, LSE_RLINE=23, lineinfo="@2(27[9],39[12])" *) FD1P3XZ Cols_i0_i3 (.D(n251[2]), 
            .SP(n197), .CK(IntOsc), .SR(Reset_c_N_45), .Q(Cols_c_2));
    defparam Cols_i0_i3.REGSET = "RESET";
    defparam Cols_i0_i3.SRMODE = "ASYNC";
    (* lineinfo="@2(108[34],108[43])" *) FA2 count_120_127_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n7), .D0(n639), .CI0(n639), .A1(GND_net), 
            .B1(GND_net), .C1(n6), .D1(n1103), .CI1(n1103), .CO0(n1103), 
            .CO1(n641), .S0(n37[1]), .S1(n37[2]));
    defparam count_120_127_add_4_3.INIT0 = "0xc33c";
    defparam count_120_127_add_4_3.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=65, LSE_LLINE=23, LSE_RLINE=23, lineinfo="@2(27[9],39[12])" *) FD1P3XZ Cols_i0_i2 (.D(n392), 
            .SP(n197), .CK(IntOsc), .SR(Reset_c_N_45), .Q(Cols_c_1));
    defparam Cols_i0_i2.REGSET = "RESET";
    defparam Cols_i0_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=65, LSE_LLINE=23, LSE_RLINE=23, lineinfo="@2(27[9],39[12])" *) FD1P3XZ Cols_i0_i1 (.D(n251[0]), 
            .SP(n197), .CK(IntOsc), .SR(Reset_c_N_45), .Q(Cols_c_0));
    defparam Cols_i0_i1.REGSET = "RESET";
    defparam Cols_i0_i1.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=65, LSE_LLINE=23, LSE_RLINE=23, lineinfo="@2(27[9],39[12])" *) FD1P3XZ Cols_i0_i4 (.D(n767), 
            .SP(n197), .CK(IntOsc), .SR(Reset_c_N_45), .Q(Cols_c_3));
    defparam Cols_i0_i4.REGSET = "SET";
    defparam Cols_i0_i4.SRMODE = "ASYNC";
    (* lineinfo="@2(53[9],175[16])" *) FD1P3XZ State_FSM_i5 (.D(n388), .SP(VCC_net), 
            .CK(IntOsc), .SR(Reset_c_N_45), .Q(n77[4]));
    defparam State_FSM_i5.REGSET = "RESET";
    defparam State_FSM_i5.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@2(53[9],175[16])" *) FD1P3XZ State_FSM_i3 (.D(n92), .SP(VCC_net), 
            .CK(IntOsc), .SR(Reset_c_N_45), .Q(n77[2]));
    defparam State_FSM_i3.REGSET = "RESET";
    defparam State_FSM_i3.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module Sync
//

module Sync (input Rows_c_0, input IntOsc, input Reset_c_N_45, output n434, 
            input Rows_c_3, input Rows_c_2, input Rows_c_1);
    
    wire [3:0]dRows;
    (* is_clock=1, lineinfo="@5(9[14],9[20])" *) wire IntOsc;
    
    wire VCC_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=8, LSE_RCOL=42, LSE_LLINE=17, LSE_RLINE=17, lineinfo="@4(9[9],18[5])" *) FD1P3XZ dRows__i3 (.D(Rows_c_3), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(dRows[3]));
    defparam dRows__i3.REGSET = "RESET";
    defparam dRows__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(9[9],18[5])" *) LUT4 i3_4_lut (.A(dRows[1]), 
            .B(dRows[3]), .C(dRows[0]), .D(dRows[2]), .Z(n434));
    defparam i3_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=8, LSE_RCOL=42, LSE_LLINE=17, LSE_RLINE=17, lineinfo="@4(9[9],18[5])" *) FD1P3XZ dRows__i2 (.D(Rows_c_2), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(dRows[2]));
    defparam dRows__i2.REGSET = "RESET";
    defparam dRows__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=8, LSE_RCOL=42, LSE_LLINE=17, LSE_RLINE=17, lineinfo="@4(9[9],18[5])" *) FD1P3XZ dRows__i1 (.D(Rows_c_1), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(dRows[1]));
    defparam dRows__i1.REGSET = "RESET";
    defparam dRows__i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=8, LSE_RCOL=42, LSE_LLINE=17, LSE_RLINE=17, lineinfo="@4(9[9],18[5])" *) FD1P3XZ dRows__i0 (.D(Rows_c_0), 
            .SP(VCC_net), .CK(IntOsc), .SR(Reset_c_N_45), .Q(dRows[0]));
    defparam dRows__i0.REGSET = "RESET";
    defparam dRows__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module DualSevSeg
//

module DualSevSeg (output En2_c, output En2_c_N_42, input IntOsc, input Reset_c);
    
    (* is_clock=1, lineinfo="@5(9[14],9[20])" *) wire IntOsc;
    
    (* LSE_LINE_FILE_ID=74, LSE_LCOL=10, LSE_RCOL=60, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@1(22[10],22[60])" *) DispMux DispMux1 (En2_c, 
            En2_c_N_42, IntOsc, Reset_c);
    
endmodule

//
// Verilog Description of module DispMux
//

module DispMux (output En2_c, output En2_c_N_42, input IntOsc, input Reset_c);
    
    (* is_clock=1, lineinfo="@5(9[14],9[20])" *) wire IntOsc;
    wire [22:0]counter;
    wire [22:0]n97;
    
    wire n23, n195, n623, n1127, GND_net, n625, n4, n22, n5, 
        n14, n621, n1124, n9, n68, n619, n1121, n635, n1145, 
        n633, n1142, n617, n1118, n20, n19, n615, n1115, n22_adj_46, 
        n21, n1097, VCC_net, n631, n1139, n629, n1136, n627, 
        n1133, n1130, n408;
    
    (* lut_function="(!(A))", lineinfo="@0(28[15],28[22])" *) LUT4 En2_c_I_0_1_lut (.A(En2_c), 
            .Z(En2_c_N_42));
    defparam En2_c_I_0_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i23 (.D(n97[22]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[22]));
    defparam counter_121__i23.REGSET = "RESET";
    defparam counter_121__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n623), .CI0(n623), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n1127), .CI1(n1127), 
            .CO0(n1127), .CO1(n625), .S0(n97[9]), .S1(n97[10]));
    defparam counter_121_add_4_11.INIT0 = "0xc33c";
    defparam counter_121_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A+(B (C)))" *) LUT4 i1_3_lut (.A(counter[7]), .B(counter[5]), 
            .C(counter[6]), .Z(n4));
    defparam i1_3_lut.INIT = "0xeaea";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i149_4_lut (.A(counter[8]), 
            .B(counter[10]), .C(counter[9]), .D(n4), .Z(n22));
    defparam i149_4_lut.INIT = "0xfcec";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut (.A(n22), 
            .B(counter[14]), .C(counter[12]), .D(counter[11]), .Z(n5));
    defparam i1_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(counter[17]), .B(counter[20]), 
            .C(counter[18]), .D(counter[16]), .Z(n14));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n621), .CI0(n621), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n1124), .CI1(n1124), 
            .CO0(n1124), .CO1(n623), .S0(n97[7]), .S1(n97[8]));
    defparam counter_121_add_4_9.INIT0 = "0xc33c";
    defparam counter_121_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut_adj_1 (.A(n5), 
            .B(counter[19]), .C(counter[15]), .D(counter[13]), .Z(n9));
    defparam i1_4_lut_adj_1.INIT = "0xeccc";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i7_4_lut (.A(n9), .B(n14), 
            .C(counter[21]), .D(counter[22]), .Z(n68));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n619), .CI0(n619), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n1121), .CI1(n1121), 
            .CO0(n1121), .CO1(n621), .S0(n97[5]), .S1(n97[6]));
    defparam counter_121_add_4_7.INIT0 = "0xc33c";
    defparam counter_121_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n635), .CI0(n635), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n1145), .CI1(n1145), 
            .CO0(n1145), .S0(n97[21]), .S1(n97[22]));
    defparam counter_121_add_4_23.INIT0 = "0xc33c";
    defparam counter_121_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n633), .CI0(n633), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n1142), .CI1(n1142), 
            .CO0(n1142), .CO1(n635), .S0(n97[19]), .S1(n97[20]));
    defparam counter_121_add_4_21.INIT0 = "0xc33c";
    defparam counter_121_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n20), .D0(n617), .CI0(n617), .A1(GND_net), 
            .B1(GND_net), .C1(n19), .D1(n1118), .CI1(n1118), .CO0(n1118), 
            .CO1(n619), .S0(n97[3]), .S1(n97[4]));
    defparam counter_121_add_4_5.INIT0 = "0xc33c";
    defparam counter_121_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n22_adj_46), .D0(n615), .CI0(n615), .A1(GND_net), 
            .B1(GND_net), .C1(n21), .D1(n1115), .CI1(n1115), .CO0(n1115), 
            .CO1(n617), .S0(n97[1]), .S1(n97[2]));
    defparam counter_121_add_4_3.INIT0 = "0xc33c";
    defparam counter_121_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n23), .D1(n1097), .CI1(n1097), .CO0(n1097), .CO1(n615), 
            .S1(n97[0]));
    defparam counter_121_add_4_1.INIT0 = "0xc33c";
    defparam counter_121_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n631), .CI0(n631), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n1139), .CI1(n1139), 
            .CO0(n1139), .CO1(n633), .S0(n97[17]), .S1(n97[18]));
    defparam counter_121_add_4_19.INIT0 = "0xc33c";
    defparam counter_121_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n629), .CI0(n629), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n1136), .CI1(n1136), 
            .CO0(n1136), .CO1(n631), .S0(n97[15]), .S1(n97[16]));
    defparam counter_121_add_4_17.INIT0 = "0xc33c";
    defparam counter_121_add_4_17.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i22 (.D(n97[21]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[21]));
    defparam counter_121__i22.REGSET = "RESET";
    defparam counter_121__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i21 (.D(n97[20]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[20]));
    defparam counter_121__i21.REGSET = "RESET";
    defparam counter_121__i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n627), .CI0(n627), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n1133), .CI1(n1133), 
            .CO0(n1133), .CO1(n629), .S0(n97[13]), .S1(n97[14]));
    defparam counter_121_add_4_15.INIT0 = "0xc33c";
    defparam counter_121_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i20 (.D(n97[19]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[19]));
    defparam counter_121__i20.REGSET = "RESET";
    defparam counter_121__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i19 (.D(n97[18]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[18]));
    defparam counter_121__i19.REGSET = "RESET";
    defparam counter_121__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i18 (.D(n97[17]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[17]));
    defparam counter_121__i18.REGSET = "RESET";
    defparam counter_121__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i17 (.D(n97[16]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[16]));
    defparam counter_121__i17.REGSET = "RESET";
    defparam counter_121__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i16 (.D(n97[15]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[15]));
    defparam counter_121__i16.REGSET = "RESET";
    defparam counter_121__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i15 (.D(n97[14]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[14]));
    defparam counter_121__i15.REGSET = "RESET";
    defparam counter_121__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i14 (.D(n97[13]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[13]));
    defparam counter_121__i14.REGSET = "RESET";
    defparam counter_121__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i13 (.D(n97[12]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[12]));
    defparam counter_121__i13.REGSET = "RESET";
    defparam counter_121__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i12 (.D(n97[11]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[11]));
    defparam counter_121__i12.REGSET = "RESET";
    defparam counter_121__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i11 (.D(n97[10]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[10]));
    defparam counter_121__i11.REGSET = "RESET";
    defparam counter_121__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i10 (.D(n97[9]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[9]));
    defparam counter_121__i10.REGSET = "RESET";
    defparam counter_121__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i9 (.D(n97[8]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[8]));
    defparam counter_121__i9.REGSET = "RESET";
    defparam counter_121__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i8 (.D(n97[7]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[7]));
    defparam counter_121__i8.REGSET = "RESET";
    defparam counter_121__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i7 (.D(n97[6]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[6]));
    defparam counter_121__i7.REGSET = "RESET";
    defparam counter_121__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i6 (.D(n97[5]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(counter[5]));
    defparam counter_121__i6.REGSET = "RESET";
    defparam counter_121__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i5 (.D(n97[4]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(n19));
    defparam counter_121__i5.REGSET = "RESET";
    defparam counter_121__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i4 (.D(n97[3]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(n20));
    defparam counter_121__i4.REGSET = "RESET";
    defparam counter_121__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i3 (.D(n97[2]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(n21));
    defparam counter_121__i3.REGSET = "RESET";
    defparam counter_121__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i2 (.D(n97[1]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(n22_adj_46));
    defparam counter_121__i2.REGSET = "RESET";
    defparam counter_121__i2.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=74, LSE_LCOL=10, LSE_RCOL=60, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@0(32[12],44[5])" *) FD1P3XZ DivClk (.D(n408), 
            .SP(VCC_net), .CK(IntOsc), .SR(GND_net), .Q(En2_c));
    defparam DivClk.REGSET = "RESET";
    defparam DivClk.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(37[14],37[25])" *) FA2 counter_121_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n625), .CI0(n625), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n1130), .CI1(n1130), 
            .CO0(n1130), .CO1(n627), .S0(n97[11]), .S1(n97[12]));
    defparam counter_121_add_4_13.INIT0 = "0xc33c";
    defparam counter_121_add_4_13.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!(A (B (C)+!B !(C))+!A (B+!(C))))", lineinfo="@0(32[12],44[5])" *) LUT4 i247_4_lut_4_lut_3_lut (.A(Reset_c), 
            .B(En2_c), .C(n68), .Z(n408));
    defparam i247_4_lut_4_lut_3_lut.INIT = "0x3838";
    (* lut_function="((B)+!A)", lineinfo="@0(40[3],43[6])" *) LUT4 i86_2_lut_2_lut (.A(Reset_c), 
            .B(n68), .Z(n195));
    defparam i86_2_lut_2_lut.INIT = "0xdddd";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(37[14],37[25])" *) FD1P3XZ counter_121__i1 (.D(n97[0]), 
            .SP(VCC_net), .CK(IntOsc), .SR(n195), .Q(n23));
    defparam counter_121__i1.REGSET = "RESET";
    defparam counter_121__i1.SRMODE = "CE_OVER_LSR";
    
endmodule
